@import "tailwindcss";

@theme {
    --breakpoint-lg: 961px;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}